body {background-color: rgb(103, 153, 151);}
header {background-color: rgb(255, 255, 255);
  text-align: center;}
section { color: white;
   text-align: center;}
footer {background-color: white;
text-align: left;}


